.title-bar-main-box {
    background-color: var(--title-bar-color);
}

.title-bar-content-box {
    max-width: var(--main-content-width);
    padding: 30px var(--content-padding-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.title-bar-title {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 36px;
    margin: 0px;
    display: flex;
    text-decoration: none;
    color: var(--title-text-color);
}

.title-bar-page {
    display: flex;
    margin-left: 20px;
    text-decoration: none;
    color: var(--title-text-color);
}

.title-bar-links {
    display: flex;
    align-items: center;
}