.user-preview-link {
    display: inline-block;
    text-decoration: none;
    color: black;
}

.user-preview-container {
    background-color: white;
    justify-content: center;
    border-radius: 10px;
    width: max-content;
    min-width: 94%;
    padding-right: 1em;
}

.user-preview-circle {
    padding: 0.5em;
    float: left;
}

.user-preview-desc {
    margin-top: 2px;
    margin-bottom: 22px;
}

.user-preview-username {
    margin-top: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}