.video-player-container{
    background-color: var(--video-screen-color);
    color: white;
    /* letter-spacing: 20px;
    font-size: 36px;
    line-height-step: 0px; */
    font-family: 'Courier New', Courier, monospace;
    grid-row: 1;
    min-height: 400px;
    height: fit-content;
    padding: 50px;
    position: relative;
}
.video-player-row{
    margin: 0px;
    text-align: center;
    width: fit-content;
}

.video-row-container {
    margin: auto 0px;
    display: flexbox;
    text-align: center;
}

.video-player-play-button {
    /* opacity: 0; */
    background-color: transparent;
    border-style: none;
    position: absolute; 
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 100px;
    transition-duration: 200ms;
}

.video-player-play-button:hover {
    opacity: 1;
}