.video-preview-container {
    justify-content: center;
    width: var(--video-preview-width);
}

.video-preview-link {
    text-decoration: none;
    color: black;
}

.video-preview-thumbnail {
    width: var(--video-preview-width);
    height: 185px;
    background-color: #323232;
    overflow: hidden;
}

.video-thumbnail-content {
    overflow: hidden;
    font-size: 3.2pt;
    color: gray;
    transform: scale(1.4,1.4);
    margin: auto;
    width: fit-content;
}

.video-preview-title {
    font-size: 18px;
    margin-top: 10px;
    color: black;
}

.video-preview-creator {
    font-size: 16px;
    margin-top: 10px;
    text-decoration: none;
    color: gray;
}

@media screen and (max-width: 500px) {
    .video-preview-container {
        width: auto;
    }
    .video-preview-thumbnail {
        width: auto;
    }
    .video-thumbnail-content {
        font-size: 2.6pt;
        transform: scale(2);
        margin-top: 1em;
    }
}