.video-preview-container {
    justify-content: center;
}

.video-preview-link {
    text-decoration: none;
    color: black;
}

.video-preview-thumbnail {
    width: var(--video-preview-width);
    height: 185px;
    background-color: #323232;
}

.video-thumbnail-content {
    font-size: 3.2pt;
    color: gray;
    transform: scale(1.3,1);
    padding-top: 1em;
    margin-left: 10.5em;
}

.video-preview-title {
    font-size: 18px;
    margin-top: 10px;
    color: black;
}

.video-preview-creator {
    font-size: 16px;
    margin-top: 10px;
    text-decoration: none;
    color: gray;
}

@media screen and (max-width: 500px) {
    .video-preview-thumbnail {
        width: auto;
    }
    .video-thumbnail-content {
        font-size: 3.6pt;
        transform: scale(1,1);
        margin-left: 9em;
    }
}