.register-form-container {
  background-color: white;
  width: fit-content;
  border-radius: 7px;
  margin: 0 auto;
  display: grid;
  padding: 2em;
  padding-bottom: 3em;
}

@media screen and (max-width: 1300px) {
  .register-form-container {
    width: auto;
  }
}
