.line {
  height: 1px;
  border: 0;
  background-color: lightgrey;
  margin-top: 10px;
  margin-bottom: 10px;
}
h2 {
  font-weight: 400;
}

.comment-form-textarea {
  width: 95%;
  resize: vertical;
}

.submit-button {
  font-family: "IBM Plex Mono", monospace;
  border-style: solid;
  border-radius: 4px;
}
.comment-username {
  font-size: 16px;
  margin-top: 10px;
  text-decoration: none;
  color: black;
}
