.user-page-container {
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 0px;
    padding-top: 40px;
    grid-template-rows: min-content 1fr;
}

.user-info-title {
    font-weight: 400;
    margin-bottom: 0px;
}

.user-video-container {
    margin-top: 10px;
    padding: 15px;
    padding-top: 15px;
    background-color: var(--recomendation-bar-color);
    display: grid;
    column-gap: 15px;
    grid-auto-columns: 200px;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(var(--video-preview-width), 1fr));
}

@media screen and (max-width: 1300px) {
    .video-page-container {
        padding-top: 10px;
    }
}