:root {
    --main-content-width: 1200px;
    --main-background-color: #EDEDED;
    --content-padding-width: 50px;

    --title-bar-color: #ffffff;
    --title-text-color: #000000;
    --video-screen-color: #323232;
}