.recommendations-container{
    display: grid;
    column-gap: 15px;
    grid-auto-columns: 200px;
    grid-template-columns: repeat(auto-fill, minmax(var(--video-preview-width), 1fr));
}

@media screen and (min-width: 1300px) {
    .recommendations-container {
        grid-template-columns: repeat(auto-fill, minmax(var(--video-preview-width), 1fr));
    }
}

@media screen and (min-width: 500px) {
    .recommendations-container {
        justify-items: center;
    }
}